:root {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #111;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
